{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %}
    Поиск публикаций
{% endblock title %}

{% block content %}
    <h1>{% trans "Количество публикаций" %}: {{ posts|length }} </h1>
    <h1>{% trans "Список новостей" %}</h1>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
    </form>

    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>{% trans "Название" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Текст" %}</td>
                <td>{% trans "Категории" %}</td>
                <td>{% trans "Действие" %}</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
                <td>{{ post.time_post|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
                <td>{% for category in post.category.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% if post.author.user == user %}
                    <a href="{% url 'news_update' post.id %}">Изменить</a>
                    {% endif %}

                    {% if post.author.user == user %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2> {% trans "Новостей нет! "%} =( </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}