{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Количество новостей {{news|length}} </h1>
    <h1>Список новостей</h1>
        {% if posts %}
        <table>
            <tr>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.time_post|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
            </tr>
            {% endfor %}

        </table>
        {% else %}
        <h2>Новостей нет! =( </h2>
        {% endif %}
{% endblock content %}