{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load i18n %}
{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
        <table>
            <tr>
               <td>{% trans "Название" %}</td>
               <td>{% trans "Текст" %}</td>
               <td>{% trans "Дата публикации" %}</td>
               <td>{% trans "Реакция" %}</td>
               <td>{% trans "Рейтинг" %}</td>
               <td>{% trans "Действие" %}</td>
            </tr>
            <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.text|censor }}</td>
               <td>{{ post.time_post|date:'d M Y' }}</td>
               <td><a class="btn btn-secondary btn-sm" href="{% url 'like' post.pk %}">Like👍</a>
                   <a class="btn btn-secondary btn-sm" href="{% url 'dislike' post.pk %}">Dislike👎</a>
               </td>
               <td>{{ post.rating }}</td>
               <td><button><a href="{% url 'post_comment' post.id %}">Оставить коментарий</a></button></td>

            </tr>
        </table>
        <h3>Комментарии:</h3>
        {% for comment in post.comment_set.all %}
        <p>{% trans "Автор комментария" %}: {{ comment.user }}</p>
        <p>{% trans "Текст комментария" %}: {{ comment.text }}</p>
        {% endfor %}

{% endblock content %}
